<!-- Header -->
<header>
  <div class="main-image">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">
            Welcome to <br><span id="title">Collector's World</span>
          </h1>
        </div>
      </div>
    </div>
  </div>
  </div>
</header>
<!-- Page Content -->
<div class="container featured-auctions">
  <div class="row">
    <%= render "partials/product_grid" %>
  </div>
</div><!-- /.container -->
