<!-- Header -->
<header>
  <div class="main-image">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">
            Welcome to <br><span class="blood-xl">Collector's World</span>
          </h1>
        </div>
      </div>
      <div id="search" class="well">
        <div class="row">
          <div class="col-md-8">
            <form>
              <br>
              <input type="text" name="search">
              <br>
            </form>
          </div>
          <div class="col-md-4">
            <%= link_to "Search", profile_new_path,
                        class: "btn btn-lg btn-success btn-block"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Page Content -->
<div class="container">
  <br>
  <hr>
  <div class="row">
    <%= render "partials/categories_carousel" %>
  </div><!-- /.row -->
  <!-- Featured Products Section -->
  <div class="row">
    <%= render "partials/product_carousel" %>
  </div>
  <hr>
</div><!-- /.container -->
