<div id="cat-row" class="row">
  <div class="col-md-4"><div id="games-category"></div></div>
  <div class="col-md-4"><div id="instruments-category"></div></div>
  <div class="col-md-4"><div id="sports-category"></div></div>
</div>
<div id="cat-row" class="row">
  <div class="col-md-4"><div id="toys-category"></div></div>
  <div class="col-md-4"></div>
  <div class="col-md-4"><div id="cars-category"></div></div>
</div>
<div id="cat-row" class="row">
  <div class="col-md-4"><div id="animals-category"></div></div>
  <div class="col-md-4"></div>
  <div class="col-md-4"><div id="books-category"></div></div>
</div>
<div id="cat-row" class="row">
  <div class="col-md-4"><div id="antiques-category"></div></div>
  <div class="col-md-4"><div id="entertainment-category"></div></div>
  <div class="col-md-4"><div id="guns-category"></div></div>
</div>

<script type="text/javascript">

    var sampleSVG = d3.select("#games-category")
            .append("svg")
            .attr("width", 250)
            .attr("height", 250);

    sampleSVG.append("circle")
            .style("stroke", "gray")
            .style("fill", "black")
            .attr("r", 90)
            .attr("cx", 100)
            .attr("cy", 100)
            .on("mouseover", function(){d3.select(this).style("fill", "aliceblue");})
            .on("mouseout", function(){d3.select(this).style("fill", "black");});

    var sampleSVG = d3.select("#instruments-category")
            .append("svg")
            .attr("width", 250)
            .attr("height", 250);

    sampleSVG.append("circle")
            .style("stroke", "gray")
            .style("fill", "black")
            .attr("r", 90)
            .attr("cx", 100)
            .attr("cy", 100)
            .on("mouseover", function(){d3.select(this).style("fill", "aliceblue");})
            .on("mouseout", function(){d3.select(this).style("fill", "black");});

    var sampleSVG = d3.select("#sports-category")
            .append("svg")
            .attr("width", 250)
            .attr("height", 250);

    sampleSVG.append("circle")
            .style("stroke", "gray")
            .style("fill", "black")
            .attr("r", 90)
            .attr("cx", 100)
            .attr("cy", 100)
            .on("mouseover", function(){d3.select(this).style("fill", "aliceblue");})
            .on("mouseout", function(){d3.select(this).style("fill", "black");});

    var sampleSVG = d3.select("#toys-category")
            .append("svg")
            .attr("width", 250)
            .attr("height", 250);

    sampleSVG.append("circle")
            .style("stroke", "gray")
            .style("fill", "black")
            .attr("r", 90)
            .attr("cx", 100)
            .attr("cy", 100)
            .on("mouseover", function(){d3.select(this).style("fill", "aliceblue");})
            .on("mouseout", function(){d3.select(this).style("fill", "black");});

    var sampleSVG = d3.select("#cars-category")
            .append("svg")
            .attr("width", 250)
            .attr("height", 250);

    sampleSVG.append("circle")
            .style("stroke", "gray")
            .style("fill", "black")
            .attr("r", 90)
            .attr("cx", 100)
            .attr("cy", 100)
            .on("mouseover", function(){d3.select(this).style("fill", "aliceblue");})
            .on("mouseout", function(){d3.select(this).style("fill", "black");});

    var sampleSVG = d3.select("#animals-category")
            .append("svg")
            .attr("width", 250)
            .attr("height", 250);

    sampleSVG.append("circle")
            .style("stroke", "gray")
            .style("fill", "black")
            .attr("r", 90)
            .attr("cx", 100)
            .attr("cy", 100)
            .on("mouseover", function(){d3.select(this).style("fill", "aliceblue");})
            .on("mouseout", function(){d3.select(this).style("fill", "black");});

    var sampleSVG = d3.select("#books-category")
            .append("svg")
            .attr("width", 250)
            .attr("height", 250);

    sampleSVG.append("circle")
            .style("stroke", "gray")
            .style("fill", "black")
            .attr("r", 90)
            .attr("cx", 100)
            .attr("cy", 100)
            .on("mouseover", function(){d3.select(this).style("fill", "aliceblue");})
            .on("mouseout", function(){d3.select(this).style("fill", "black");});

    var sampleSVG = d3.select("#antiques-category")
            .append("svg")
            .attr("width", 250)
            .attr("height", 250);

    sampleSVG.append("circle")
            .style("stroke", "gray")
            .style("fill", "black")
            .attr("r", 90)
            .attr("cx", 100)
            .attr("cy", 100)
            .on("mouseover", function(){d3.select(this).style("fill", "aliceblue");})
            .on("mouseout", function(){d3.select(this).style("fill", "black");});

    var sampleSVG = d3.select("#entertainment-category")
            .append("svg")
            .attr("width", 250)
            .attr("height", 250);

    sampleSVG.append("circle")
            .style("stroke", "gray")
            .style("fill", "black")
            .attr("r", 90)
            .attr("cx", 100)
            .attr("cy", 100)
            .on("mouseover", function(){d3.select(this).style("fill", "aliceblue");})
            .on("mouseout", function(){d3.select(this).style("fill", "black");});

    var sampleSVG = d3.select("#guns-category")
            .append("svg")
            .attr("width", 250)
            .attr("height", 250);

    sampleSVG.append("circle")
            .style("stroke", "gray")
            .style("fill", "black")
            .attr("r", 90)
            .attr("cx", 100)
            .attr("cy", 100)
            .on("mouseover", function(){d3.select(this).style("fill", "aliceblue");})
            .on("mouseout", function(){d3.select(this).style("fill", "black");});
</script>