// Global Styles
@font-face {
  font-family: "Kaushan Script Regular";
}

html,
body {
  height: 100%;
}

body {
  padding-top: 42px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

.blood-xl {
  font-family: 'Roboto', sans-serif;
  font-size: 75px;
  letter-spacing: 5px;
}

.navbar {
  font-weight: 400;
}

.page-header {
  border: 0;
  color: #fff;
  text-align: center;
  font-weight: 500;
  margin-top: 0;
}

.featured {
  color: #ffffff;
  float: none;
  text-align: center;
  font-weight: 800;
  text-shadow: white 2px 3px 10px;
}

#featured-name a{
  color: white;
  font-weight: 700;
  float:left;
  position: absolute;
  background: rgba(0,0,0,.7)
}

.main-image {
  background: url(image-path("super-mario-world.jpg")) left bottom;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  height: 500px;
}

.secondary-image {
  background: url(image-path("coins-mario-underground.jpg")) left bottom;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  height: 500px;
}

#index-foods,
#index-accessories,
#index-plants {
  background: no-repeat center center;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  height: 200px;

  .btn {
    margin-top: 130px;
  }
}

#index-foods {
  background-image: url(image-path("frog-in-pitcher-plant.jpg"));
}

#index-plants {
  background-image: url(image-path("venus_flytrap.jpg"));
}

#index-accessories {
  background-image: url(image-path("planters.jpg"));
}

.img-portfolio {
  margin-bottom: 30px;
}

.img-hover:hover {
  opacity: 0.8;
}

.img-small {
  width: 30%;
}

.word-length {
  max-width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.feature-card.thumbnail {
  position: relative;
}

.product-card.thumbnail {
  height: 450px;
  position: relative;
}

.btm-right {
  bottom: 3%;
  position: absolute;
  right: 3%;
}

.alert {
  padding-left: 5%;
}
// Home Page Carousel
.carousel {
  height: 50%;

  .fill {
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
}

.carousel .item,
.carousel .item.active,
.carousel .carousel-inner {
  height: 100%;
}

#product-carousel .carousel,
#product-carousel-sm .carousel {
  margin-bottom: 0;
  padding: 0 40px 30px;
}

// The controlsy
#product-carousel .carousel-control,
#product-carousel-sm .carousel-control {
  background: white repeat scroll 0 0 #222222;
  border: 4px solid #ffffff;
  border-radius: 23px;
  height: 40px;
  margin-top: 90px;
  width: 80px;
}

#product-carousel .carousel-control.right,
#product-carousel-sm .carousel-control.right {
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #ffffff;
  border-radius: 23px;
  color: #ffffff;
  font-size: 20px;
  height: 40px;
  margin-top: 4%;
  right: -12px;
  width: 40px;
}

#product-carousel .carousel-control.left,
#product-carousel-sm .carousel-control.left {
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #ffffff;
  border-radius: 23px;
  color: #ffffff;
  font-size: 20px;
  height: 40px;
  left: -12px;
  margin-top: 4%;
  width: 40px;
}

// The indicators
#product-carousel .carousel-indicators,
#product-carousel-sm .carousel-indicators {
  bottom: 60px;
  margin-right: -19px;
  right: 50%;
  top: auto;
}

// The colour of the indicators
#product-carousel .carousel-indicators li,
#product-carousel-sm .carousel-indicators li {
  background: #cecece;
}

#product-carousel .carousel-indicators .active,
#product-carousel-sm .carousel-indicators .active {
  background: #428bca;
}

#product-carousel {
  background: rgba(173, 254, 0, 0.6);
  margin-top: 210px;
}
// flash messages
.flash {
  a {
    color: #ffffff;
    text-decoration: underline;
  }
}

// 404 Page Styles

.error-404 {
  font-size: 100px;
}

.cart-header {
  border-bottom: 2px solid #dddddd;
}

.cart-header-title {
  font-weight: bold;
  padding: 8px;
}

.cart-row {
  padding-top: 10px;
}

// Pricing Page Styles

.price {
  display: block;
  font-size: 50px;
  line-height: 50px;

  sup {
    font-size: 20px;
    left: 2px;
    top: -20px;
  }
}

.period {
  display: block;
  font-style: italic;
}

// Footer Styles

footer {
  margin: 50px 0;
}

// Responsive Styles

@media(max-width:991px) {
  .customer-img,
  .img-related {
    margin-bottom: 30px;
  }
}

@media(max-width:767px) {
  .img-portfolio {
    margin-bottom: 15px;
  }

  .carousel .carousel {
    height: 70%;
  }
}

@media(min-width:768px) {
  .product-card.thumbnail {
    height: 380px;
  }
  
  .feature-card img {
    height: 120px;
    border-radius: 10px;
  }
}

@media(min-width:990px) {
  .product-card.thumbnail {
    min-height: 250px;
    max-height: 250px;
    min-width: 250px;
    max-width: 250px;

  }

  .thumbnail {
    height: 450px; 
  }
}

@media(min-width:1190px) {
  .product-card.thumbnail {
    height: 150px;
  }

  .feature-card.thumbnail {
    height: 150px;
  }
}

// Feed Page Styles

#feed-title {
  text-align: center;
  margin-bottom: 35px;
}

.feed-row {
  margin: 0;
}

.auction-jumbo {
  width: 97%;
  height: 300px;
  border-radius: 25px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: black 2px 10px 20px;
}

.auction-jumbo a {
  color: white;

}

.feed-header {
  padding-bottom: 25px;
}

.auction-jumbo-picture {
  max-width: 100px;
  max-height: 100px;
  float:right;
  border-radius: 25px;
  padding: 10px;
  background: rgba(0, 0, 0, 0);
}
.auction-jumbo-winning {
  background: #0b7c7c;
}

.auction-jumbo-losing {
  background: rgba(102, 35, 30, 0.6);
}

.feed-info {
  margin-top: 75px;
  padding: 5px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 15px;
}

.feed-info p {
  font-size: 16px;
}

// Auction Show Page Styles

.auction-index-title {
  text-align: center;
  padding-bottom: 20px;
  font-weight: 700;
}

.list-group {
  margin-top: 28%;
}

.auction-index-card {
  max-height: 300px;
  box-shadow: black 1px 2px 4px;
}

.auction-index-card img{
  padding-top: 15px;
  min-height: 150px;
  max-height: 150px;
  min-width: 150px;
  max-width: 150px;
}

.bold {
  font-weight: bold;
}

.green {
  color: green;
}

.red {
  color: red;
}

.auction-index-card p{
  font-size: 12px;
}

.auction-show-picture {
  display: block;
  width: 500px;
  padding: 4px;
  margin-bottom: 21px;
  line-height: 1.4;
  background-color: #FFF;
  border: 1px solid #DDD;
  border-radius: 0px;
  transition: border 0.2s ease-in-out 0s;
  box-shadow: black 1px 2px 4px;
}

.pic-col {
  margin-right: 20%;
}
.auction-show-picture img {
  width: 100%;
  min-height: 400px;
  max-height: 400px;
}

.caption-full {
  height:300px;
}

#footer {
  background: black;
  width: 100%;
  height: auto;
  color: white;
}