<footer class="footer">
  <div class="container">
    <p class="text-muted">
      Collector's World 2015
    </p>
    <section class="social-media">
      <i class="github"><%= link_to image_tag("github_white.png", size: '30x30'),
                                    "https://github.com/maxmillington/the_pivot" %></i>
    </section>
  </div>
</footer>
