<footer class="footer">
  <div class="container">
    <p class="text-muted">
      Collector's World 2015
    </p>
    <section class="social-media">
      <i class="github">GitHub</i>
      <i class="facebook">Facebook</i>
      <i class="twitter">Twitter</i>
    </section>
  </div>
</footer>
